@import "../../node_modules/bootstrap/scss/bootstrap";

$primary: #7B1FA2;
$secondary: #EA80FC;

body {
    background-color: $dark;
}

.Page {
    display: flex;
    color: $light;
}

.Page__Sidebar {
    display: block;
    height: 100vh;
    width: 250px;
    flex-shrink: 0;
}

.Page__Container {
    display: block;
    width: 100%;
}

.Page__Bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid $gray-700;
    padding: 10px;
}

.Page__Title {
    margin-bottom: 0;
}

.Page__Search {
    width: 300px;
}

.Page__Content {
    padding: 10px;
}

.Sidebar {
    background-color: $primary;
    height: 100%;
    padding: 10px;
    color: $light;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.Sidebar__Nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    row-gap: 10px;
}

.Sidebar__Item {
    font-size: 1.2rem;
}

.Sidebar__Item a {
    color: $light;
    text-decoration: none;
}

.Sidebar__Item a:hover,
.Sidebar__Item a.active {
    color: $secondary;
}
