/* Bootstrap Sass Variable Overrides */
$primary: #7B1FA2;
$secondary: #EA80FC;

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 800px,
    xl: 850px,
    xxl: 900px
);

/* Bootstrap */
@import "../../node_modules/bootstrap/scss/bootstrap";

/* Bootstrap CSS Variable Overrides */
.btn-secondary {
    --bs-btn-color: var(--bs-white);
    --bs-btn-hover-color: var(--bs-white);
}

.modal {
    --#{$prefix}modal-color: #{$dark};
}

/* Generic Styles */
body {
    background-color: $dark;
}

/* Page */
.Page {
    display: flex;
    color: $light;
}

.Page__Sidebar {
    display: block;
    height: 100vh;
    width: 250px;
    flex-shrink: 0;
}

.Page__Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    max-height: 100vh;
}

.Page__Bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid $gray-700;
    padding: 10px;
    position: sticky;
    top: 0;
    background-color: $dark;
}

.Page__Title {
    margin-bottom: 0;
}

.Page__Content {
    height: 100%;
}

.Page__Content--Padded {
    padding: 20px;
}

/* Sidebar */
.Sidebar {
    background-color: $primary;
    height: 100%;
    padding: 10px;
    color: $light;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.Sidebar__Nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    row-gap: 10px;
}

.Sidebar__Item {
    font-size: 1.2rem;
}

.Sidebar__Item a {
    color: $light;
    text-decoration: none;
}

.Sidebar__Item a:hover,
.Sidebar__Item a.active {
    color: $secondary;
}

.Sidebar__Item a:focus {
    outline: none;
}

/* Search Suggestions */
.Search__Suggestions {
    position: absolute;
    width: 100%;
    background-color: $light;
    color: $dark;
    border-radius: 0 0 0.375em 0.375em;
}

.Search__Suggestion {
    display: flex;
    align-items: center;
    padding: 8px;
    text-decoration: none;
    color: $dark;
    width: 100%;
}

.Search__Suggestion.Search__Active,
.Search__Suggestion:hover {
    background-color: $gray-400;
    color: $primary;
}

.Search__Suggestions > div:last-child > .Search__Suggestion {
    border-radius: 0 0 0.375em 0.375em;
}

/* Card Legalities */
.Card__Legalities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5px;
}

.Card__Legalities > div {
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 5px;
}

.Card__Legality {
    border-radius: 5px;
    padding: 0 5px;
    text-align: center;
}

.Card__Legality--Legal {
    background-color: $green;
}

.Card__Legality--Illegal {
    background-color: $gray-600;
}

/* Table Toolbar */
.Table__Toolbar {
    position: sticky;
    top: 60px;
}
